In [4]:
import zoo
zoo.hours()

'Open 9-5'

In [6]:
import zoo as menagerie
menagerie.hours()

'Open 9-5'

In [1]:
>>> import sqlite3
>>> conn = sqlite3.connect('books.db')
>>> curs = conn.cursor()
>>> curs.execute('''CREATE TABLE books
    (title VARCHAR(20) PRIMARY KEY,
     author VARCHAR(20),
     year INT)''')